@import "../../../themes/dx-styles.scss";
@import "../../../themes/generated/variables.additional.scss";

.side-navigation-menu {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  width: 200px !important;

  .menu-container {
    min-height: 100%;
    display: flex;
    flex: 1;

    .side-menu-row {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      h3 {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 0;
      }

      svg {
        font-size: 19px;
      }
    }

    .nav-stands,
    .nav-orders,
    .nav-cooperation {

      svg {
        position: absolute;
        left: -25px;
      }

      h3 {
        margin-left: 10px;
      }
    }

    .dx-state-selected {
      background-color: rgba(37, 37, 45, .8);
    }

    .dx-state-hover {
      background-color: rgba(37, 37, 45, .4) !important;
    }

    .sidebar-footer {
      position: absolute;
      bottom: 0;
      z-index: 555;
      width: 100%;

      .sidebar-footer-btn {
        width: 100%;
        height: 40px;

        .dx-button-content {
          width: 100%;

          svg {
            font-size: 15px;
          }
        }
      }
    }

    .dx-treeview {
      // ## Long text positioning
      white-space: nowrap;
      // ##

      // ## Icon width customization
      .dx-treeview-item {
        padding-left: 0;
        flex-direction: row-reverse;
        height: 36px;

        .dx-icon {
          width: $side-panel-min-width !important;
          margin: 0 !important;
        }
      }

      // ##

      // ## Arrow customization
      .dx-treeview-node {
        padding: 0 0 !important;
      }

      .dx-treeview-toggle-item-visibility {
        right: 10px;
        left: auto;
      }

      .dx-rtl .dx-treeview-toggle-item-visibility {
        left: 10px;
        right: auto;
      }

      // ##

      // ## Item levels customization
      .dx-treeview-node {
        &[aria-level='1'] {
          font-weight: bold;
          border-bottom: 1px solid $base-border-color;
        }

        &[aria-level='2']:nth-child(1) {
          font-weight: bold;
          border-bottom: 1px solid $base-border-color;
          border-top: 1px solid $base-border-color;
        }

        &[aria-level='2']:nth-child(3) {
          font-weight: bold;
          border-top: 1px solid $base-border-color;
        }

        &[aria-level='2'] .dx-treeview-item-content {
          font-weight: normal;
          padding: 0 $side-panel-min-width;
        }
      }

      // ##
    }

    // ## Selected & Focuced items customization
    .dx-treeview {
      .dx-treeview-node-container {
        .dx-treeview-node {
          &.dx-state-selected:not(.dx-state-focused)>.dx-treeview-item {
            background: transparent;
          }

          &.dx-state-selected>.dx-treeview-item * {
            color: $base-accent;
          }

          &:not(.dx-state-focused)>.dx-treeview-item.dx-state-hover {
            background-color: $base-bg;
          }
        }
      }
    }

    .dx-theme-generic .dx-treeview {
      .dx-treeview-node-container .dx-treeview-node.dx-state-selected.dx-state-focused>.dx-treeview-item * {
        color: inherit;
      }
    }

    // ##
  }
}

.dx-drawer-overlap.pre-init-blink-fix {
  @import "../../../helpers/utils/patches.scss";
  @include menu-pre-init-patch;
}